<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.official.website.mapper.PermissionMapper">

    <select id="selectPermissionByRoleId" resultType="com.hl.official.website.domain.Permission">
        select permission_name as permissionName from tb_base_permission
        where id in (select permission_id from tb_base_role_permission where role_id=#{roleId})
    </select>

</mapper>
